asgiref==3.8.1
asttokens==3.0.0
boto3==1.38.11
botocore==1.38.11
decorator==5.2.1
dj-database-url==2.3.0
Django==4.2.20
django-cors-headers==4.7.0
django-extensions==4.1
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
exceptiongroup==1.2.2
executing==2.2.0
gunicorn==23.0.0
ipython==8.18.1
jedi==0.19.2
jmespath==1.0.1
matplotlib-inline==0.1.7
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
prompt_toolkit==3.0.51
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
s3transfer==0.12.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.13.1
urllib3==1.26.20
wcwidth==0.2.13
